* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 100%;
  background-image: url(./image/myphoto.jpg);
  background-size: cover;
  background-position: top center;
}
nav {
  background-color: rgba(50, 48, 48, 0.644);
  color: white;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h2 {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  color: transparent;
  background-clip: text;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
nav i {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  color: transparent;
  background-clip: text;
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
}

#side__navbar {
  height: 100vh;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.355);
  position: absolute;
  top: 0;
  right: -30%;
  backdrop-filter: blur(10px);
  padding: 150px 50px;
}
#side__navbar h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
}
#side__navbar i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
}
